In [1]:
import pandas as pd

In [2]:
#Store list as a variable
plant_data = "Plant CSV/plant_list.csv"

In [3]:
#read csv
plant_data_df = pd.read_csv(plant_data)

In [4]:
#Check the columns
plant_data_df.head()

,Unnamed: 0,origin,Common Name,scientific_name,Poisonous_for_pets,Toxic Cats,Toxic Dogs
0,0,South America,Amaryllis,Hippeastrum,Toxic to cats and dogs.,Yes,Yes
1,1,Eastern Africa,African violet,Saintpaulia,Non toxic dogs and cats.,no,no
2,2,South America,Angel wing begonia,Begonia coccinea,Toxic for cats and dogs.,Yes,Yes
3,3,Southern Africa,"Barberton, Gerbera, Transvaal Daisy",Gebera Jamesonii,"Non toxic for cats, dogs and horses.",no,no
4,4,"Central America, Mexico",Spider Lily,Hymenocallis littoralis,No.,no,no

In [5]:
#Drop extra columns
del plant_data_df["origin"]

In [6]:
del plant_data_df["scientific_name"]

In [7]:
del plant_data_df["Unnamed: 0"]

In [8]:
del plant_data_df["Poisonous_for_pets"]

In [9]:
plant_data_df.head()

                           Common Name Toxic Cats Toxic Dogs
0                            Amaryllis        Yes        Yes
1                       African violet         no         no
2                   Angel wing begonia        Yes        Yes
3  Barberton, Gerbera, Transvaal Daisy         no         no
4                          Spider Lily         no         no

In [10]:
toxic_df = plant_data_df

In [12]:
toxic_df.to_csv("toxic.csv")

In [ ]:
toxic_df.hist()